* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --heading-large: 2.3rem;
    --heading-medium: 1.3rem;
    --text-size-small: 0.8rem;
    --text-size-standard: 1rem;
    --text-size-large: 1.2rem;
    --white: #f8f8ff;
    --off-white: #FAF9F6;
    --off-white-transparent: rgb(250, 249, 246, 0.8);
    --background-secondary: #001929;
    --border-radius-small: 0.375rem;
    --border-radius-slanted: 20% 10%;
    --off-black: #04061f;
    --warm-beige: #EED9C4;
    --purple: #6b8bf5;
    --background-primary: #003151;
    --section-separation-margin-mobile: 40px;
    --section-separation-margin-desktop: 140px;
    --header-separation-margin-mobile: 120px;
    --border-white: 2px solid white;
    --box-shadow: 0 0 10px rgba(0, 0, 0, .09);
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--background-secondary);
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(107, 139, 245, 0.7);

}

::-webkit-scrollbar-thumb {
    margin-top: 10px;
    background: white;
    border-radius: 10px;
}

/* ---- nav bar ---- */
.navbar {
    background-color: var(--purple);
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--header-separation-margin-mobile);
    box-shadow: var(--box-shadow);
    padding: 0 40px 0 20px;
    flex-direction: row;
    position: relative;
    z-index: 1;

}

.nav-menu {
    display: none;
}


.nav-branding {
    font-size: var(--heading-medium);

}

.nav-item {
    list-style: none;

}

.nav-link {
    text-decoration: none;
    color: var(--off-black);
    font-size: var(--text-size-large);

}

.nav-link:hover {
    text-decoration-line: underline;
    text-decoration-color: var(--white);
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
    color: var(--white);
}


.hamburger-bar {
    display: block;
    border-radius: 5px;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;

}

.hamburger-menu {
    position: absolute;
    right: 8%;
}

.hamburger-menu.active .hamburger-bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .hamburger-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .hamburger-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}



.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--section-separation-margin-mobile);
}

.about-card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: min(95%, 800px);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background: linear-gradient(to bottom right, rgba(107, 139, 245, 1) 0%, rgba(0, 49, 81, 1) 32%, rgba(0, 25, 41, 1) 91%);
    border-radius: var(--border-radius-small);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    position: relative;
}

.multi-icon-container {
    display: flex;
    gap: 20px;
    grid-area: icons;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    max-width: 450px;
    justify-self: center;
}

.icon-container {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--background-secondary);
    box-shadow: 0 8px 8px -4px black;
    flex-direction: column;
    gap: 3px;
    position: relative;
    overflow: hidden;
}

.icon-container svg {
    width: 75px;
    height: 75px;
}

.icon-container::after {
    background: linear-gradient(to right, #fc72ff, #8f78ff, #487bff);
    content: "";
    height: 250px;
    left: -50px;
    opacity: .8;
    position: absolute;
    top: -155px;
    transform: rotate(35deg);
    width: 50px;
    z-index: 1;
  
}

.icon-container:hover::after {
  left: 120px;  
  top: 120px; 
  transition: all 1100ms ease-in-out;
}

.icon-container:hover {
  box-shadow: none;
  transition: all 1100ms ease-in-out;
}


.nav-branding svg {
    width: 42px;
    height: 42px;
}

.icon-name {
    color: white;
    letter-spacing: 0.1rem;
}


.about-profile-photo {
    display: grid;
    place-items: center;
    padding-bottom: 1.5rem;
    grid-area: photo;
    margin-left: 10px;
}

.about-profile-name {
    color: var(--white);
    font-weight: 600;
    font-size: var(--heading-large);
    margin-bottom: 0.4rem;
}

.about-profile-name::after {
    content: "";
    display: block;
    height: 1.5px;
    width: 3.5rem;
    background: var(--purple);
    margin: 0 auto;
}

.about-profile-job-title {
    color: var(--off-white);
    font-weight: 400;
}

.about-profile-job-title {
    font-size: var(--heading-medium);
}

.about-profile-intro-text {
    font-size: var(--text-size-standard);
    margin-top: 25px;
    color: var(--white);
}

.about-profile-pronouns {
    color: var(--off-white-transparent);
    font-size: var(--text-size-small);
}

.about-profile-photo img {
    width: min(80%, 250px);
    border: 1px solid var(--background-primary);
    border-radius: var(--border-radius-small);
}

.projects-section {
    margin-bottom: var(--section-separation-margin-mobile);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    font-size: var(--heading-large);
    margin-bottom: 60px;
    color: var(--white);
}

.project-cards-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 40px;
    position: relative;
}

.project-card {
    background-color: var(--background-primary);
    width: 95%;
    border-radius: var(--border-radius-small);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    box-shadow: var(--box-shadow);
}

.project-image {
    width: 100%;
    border-radius: var(--border-radius-small);
}

.project-description {
    padding: 20px 10px;
}

.project-name {
    color: var(--white);
    font-weight: 600;
    font-size: var(--heading-medium);
    margin: 10px 0 15px 0;
}

.project-main-details {
    color: var(--white);
    font-size: var(--text-size-standard);
    line-height: 30px;
    font-weight: 400;
}

.project-button-row {
    padding: 20px 10px;
    display: flex;
    gap: 3%;
}

.project-button-row button {
    padding: 5px 7px;
    background-color: var(--purple);
    border: none;
    border-radius: 7px;
    font-size: var(--text-size-standard);
    box-shadow: var(--box-shadow);
}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--section-separation-margin-mobile);
}

.contact-card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 95%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background-color: var(--background-primary);
    border-radius: var(--border-radius-small);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    color: var(--white);
    position: relative;
}

.contact-title {
    font-size: var(--heading-large);
}

.contact-title::after {
    content: "";
    display: block;
    height: 1.5px;
    width: 3.5rem;
    background: var(--purple);
    margin: 0 auto;
}


.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 35px;
}

.contact-detail-type {
    margin: 10px 0 5px 0;
    color: var(--off-white-transparent);
}

.contact-detail-data {
    font-size: var(--text-size-large);
}

.contact-tagline {
    font-size: var(--heading-medium);
    margin: 2% 0 5% 0;

}

.location-icon,
.email-icon {
    font-size: 1.8rem;
    color: var(--purple)
}

footer {
    background-color: var(--background-primary);
    font-size: var(--text-size-small);
    padding: 1.5rem 0.5rem;
    color: var(--white);
    position: relative;
}


/*mobile view nav menu*/
@media(max-width: 800px) {
    .nav-menu.active {
        position: fixed;
        inset: 0 0 0 70vw;
        background-color: rgb(238, 217, 196, 0.5);
        padding: min(14vh, 7rem) 2rem;
        display: block;
        height: 18vh;


    }
}

/*mobile view nav menu with larger indent for small width phones like galaxy fold*/
@media(max-width: 300px) {
    .nav-menu.active {
        inset: 0 0 0 60vw;
    }

    .contact-detail-data {
        font-size: var(--text-size-standard);
    }

}



@media(min-width: 570px) {

    .about-card,
    .project-card,
    .contact-card {
        width: min(75%, 800px);
    }
}


/* desktop view */
@media (min-width: 800px) {
    .navbar {
        margin-bottom: var(--section-separation-margin-desktop);
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }


    .hamburger-menu {
        display: none;
    }

    .about-section {
        margin-bottom: var(--section-separation-margin-desktop);
    }


    .about-card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 140px min-content;
        width: max(50%, 850px);
        border-radius: var(--border-radius-slanted);
        padding: 100px 25px;
        grid-template-areas:
            "photo intro"
            "photo icons"
    }

    .about-main-intro {
        margin-left: 1.5rem;
        grid-area: intro;
        align-self: center;
    }

    .about-profile-photo {
        padding-bottom: 0;
    }

    .about-profile-photo img {
        width: min(100%, 400px);
    }

    .projects-section {
        margin-bottom: var(--section-separation-margin-desktop);

    }

    .project-cards-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .project-card {
        width: 23%;
    }

    .contact-section {
        margin-bottom: var(--section-separation-margin-desktop);
    }


    .contact-card {
        width: max(50%, 850px);
        border-radius: var(--border-radius-slanted);
        padding: 60px 25px;
    }

    .contact-details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px 0;
        gap: 30%;
    }

    .location-icon,
    .email-icon {
        font-size: 2.5rem;
    }

}