* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

:root {
    --heading-large: 2.3rem;
    --heading-medium: 1.3rem;
    --text-size-standard: 1rem;
    --text-size-small: 0.8rem;
    --text-size-large: 1.2rem;
    --white: #ffffff;
    --off-white: #FAF9F6;
    --off-white-transparent: rgb(250, 249, 246, 0.8);
    --background-colour: #F9F9F9;
    --border-radius-small: 0.375rem;
    --border-radius-slanted: 20% 10%;
    --off-black: #1c1b29;
    --warm-beige: #EED9C4;
    --section-separation-margin-mobile: 40px;
    --section-separation-margin-desktop: 140px;
    --border-white: 2px solid white;
    --box-shadow: 0 0 10px rgba(0,0,0,.09);
  }


body {
    background-color: var(--background-colour);
}

.navbar {
    background-color: var(--warm-beige);
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: var(--section-separation-margin-mobile);
    box-shadow: var(--box-shadow);
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.nav-branding-icon 
{
    width: 2.5rem;
    height: 2.5rem;

}
.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--off-black);
}

.hamburger-menu {
    display: none;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--section-separation-margin-mobile);
}

.about-card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: min(95%, 800px);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background-color: var(--off-black);
    border-radius: var(--border-radius-small);
    box-shadow: 0 0 30px rgba(0,0,0,0.18);

}

.about-profile-photo {
    display: grid;
    place-items: center;
}

.about-profile-name {
    color: var(--white);
    font-weight: 600;
    font-size: var(--heading-large);
    margin-bottom: 0.4rem;
}

.about-profile-name::after {
    content: "";
    display: block;
    height: 1.5px;
    width: 3.5rem;
    background: var(--off-white);
    margin: 0 auto;
}

.about-profile-job-title {
    color: var(--off-white);
    font-weight: 400;
}

.about-profile-job-title {
    font-size: var(--heading-medium);
}

.about-profile-intro-text {
    font-size: var(--text-size-standard);
    margin-top: 25px;
    color: var(--white);
}

.about-profile-pronouns {
    color: var(--off-white-transparent);
    font-size: var(--text-size-small);
}

.about-profile-photo img {
    width: min(80%, 250px);
    border: 2px solid white;
    border-radius: var(--border-radius-small);
}

.projects-section {
    margin-bottom: var(--section-separation-margin-mobile);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    font-size: var(--heading-large);
    margin-bottom: 60px;
}

.project-cards-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 40px;
}

.project-card {
    background-color:var(--warm-beige);
    width: 95%;
    border-radius: var(--border-radius-small);
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    box-shadow: var(--box-shadow);
}

.project-image {
    width: 100%;
    border-radius: var(--border-radius-small);
}

.project-description {
    padding: 20px 10px;
}

.project-name {
    color: var(--off-black);
    font-weight: 600;
    font-size: var(--heading-medium);
    margin: 10px 0 15px 0;
}

.project-main-details{
    color: var(--off-black);
    font-size: var(--text-size-standard);
    line-height: 30px;
    font-weight: 400;
}

.project-button-row {
    padding: 20px 10px;
    display: flex;
    gap: 3%;
}

.project-button-row button{
    padding: 5px 7px;
    background-color: var(--off-white);
    border: none;
    border-radius: 7px;
    font-size: var(--text-size-standard);
    box-shadow: var(--box-shadow);
}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--section-separation-margin-mobile);
}

.contact-card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 95%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background-color: var(--off-black);
    border-radius: var(--border-radius-small);
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    color: var(--white);
}

.contact-title::after {
    content: "";
    display: block;
    height: 1.5px;
    width: 3.5rem;
    background: var(--off-white);
    margin: 0 auto;
}

.contact-detail-type {
    margin: 10px 0;
}

.contact-detail-data {
    font-size: var(--text-size-large);
}

.location-icon, .email-icon {
    font-size: 2.5rem;
}

footer {
    background-color: var(--warm-beige);
    font-size: var(--text-size-small);
    padding: 1.5rem 0.5rem;
    color: var(--off-black);
}

@media(min-width: 570px)
{
    .about-card, .project-card {
        width: min(75%, 800px);
    }
}

/* desktop view */
@media (min-width: 800px)
{
    .navbar {
        margin-bottom: var(--section-separation-margin-desktop);
    }

    .about-section {
        margin-bottom: var(--section-separation-margin-desktop);
    }


    .about-card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: max(50%, 850px);
        border-radius: var(--border-radius-slanted);
        padding: 100px 25px;
    }

    .about-main-intro {
        margin-left: 1.5rem;
    }

    .about-profile-photo img {
        width: min(100%, 400px);
    }

    .projects-section {
        margin-bottom: var(--section-separation-margin-desktop);

    }

    .project-cards-container  {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .project-card {
        width: 23%;
    }

    .contact-section {
        margin-bottom: var(--section-separation-margin-desktop);
    }


    .contact-card {
        width: max(50%, 850px);
        border-radius: var(--border-radius-slanted);
        padding: 60px 25px;
    }

    .contact-title {
        font-size: var(--heading-large);
    }

    .contact-details {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        gap: 30%;
    }

    .contact-tagline {
        font-size: var(--heading-medium);
        margin: 2% 0 5% 0;

    }

}